In [17]:
import pandas as pd

In [18]:
df = pd.read_csv("NikeDataset.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9360 entries, 0 to 9359
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Invoice Date    9360 non-null   object
 1   Product         9360 non-null   object
 2   Region          9360 non-null   object
 3   Retailer        9360 non-null   object
 4   Sales Method    9360 non-null   object
 5   State           9360 non-null   object
 6   Price per Unit  9360 non-null   int64
 7   Total Sales     9360 non-null   int64
 8   Units Sold      9360 non-null   int64
dtypes: int64(3), object(6)
memory usage: 658.3+ KB

In [19]:
df = df.drop_duplicates()

In [20]:
df.head()

,Invoice Date,Product,Region,Retailer,Sales Method,State,Price per Unit,Total Sales,Units Sold
0,01-01-2020,Men's Street Footwear,Northeast,Foot Locker,In-store,New York,50,6000,120
1,02-01-2020,Men's Athletic Footwear,Northeast,Foot Locker,In-store,New York,50,5000,100
2,03-01-2020,Women's Street Footwear,Northeast,Foot Locker,In-store,New York,40,4000,100
3,04-01-2020,Women's Athletic Footwear,Northeast,Foot Locker,In-store,New York,45,3825,85
4,05-01-2020,Men's Apparel,Northeast,Foot Locker,In-store,New York,60,5400,90

In [21]:
df.isnull().sum()

Invoice Date      0
Product           0
Region            0
Retailer          0
Sales Method      0
State             0
Price per Unit    0
Total Sales       0
Units Sold        0
dtype: int64

df.columns = df.columns.str.strip().str.lower().str.replace(" ", "_")

In [22]:
df.columns = df.columns.str.strip().str.lower().str.replace(" ", "_")

In [23]:
df.columns

Index(['invoice_date', 'product', 'region', 'retailer', 'sales_method',
       'state', 'price_per_unit', 'total_sales', 'units_sold'],
      dtype='object')

In [24]:
df.describe

<bound method NDFrame.describe of      invoice_date                    product     region     retailer  \
0      01-01-2020      Men's Street Footwear  Northeast  Foot Locker
1      02-01-2020    Men's Athletic Footwear  Northeast  Foot Locker
2      03-01-2020    Women's Street Footwear  Northeast  Foot Locker
3      04-01-2020  Women's Athletic Footwear  Northeast  Foot Locker
4      05-01-2020              Men's Apparel  Northeast  Foot Locker
...           ...                        ...        ...          ...
9355   06-07-2021  Women's Athletic Footwear       West    West Gear
9356   05-04-2021    Women's Street Footwear       West    West Gear
9357   05-05-2021    Women's Street Footwear       West    West Gear
9358   04-06-2021    Women's Street Footwear       West    West Gear
9359   06-07-2021    Women's Street Footwear       West    West Gear

     sales_method     state  price_per_unit  total_sales  units_sold
0        In-store  New York              50         6000         120
1        In-store  New York              50         5000         100
2        In-store  New York              40         4000         100
3        In-store  New York              45         3825          85
4        In-store  New York              60         5400          90
...           ...       ...             ...          ...         ...
9355       Outlet     Idaho              38           60          16
9356       Outlet     Idaho              19           31          16
9357       Outlet     Idaho              18           33          18
9358       Outlet     Idaho              34           63          19
9359       Outlet     Idaho              34           95          28

[9360 rows x 9 columns]>

In [27]:
df["invoice_date"] = pd.to_datetime(
    df["invoice_date"],
    format="%d-%m-%Y"
)

df["price_per_unit"] = df["price_per_unit"].astype(float)
df["units_sold"] = df["units_sold"].astype(int)
df["total_sales"] = df["total_sales"].astype(float)

In [28]:
df["calculated_sales"] = df["price_per_unit"] * df["units_sold"]

df["sales_difference"] = df["total_sales"] - df["calculated_sales"]

In [29]:
df = df[df["price_per_unit"] > 0]
df = df[df["units_sold"] > 0]
df = df[df["total_sales"] > 0]

In [30]:
df = df.drop_duplicates()

In [31]:
df["month"] = df["invoice_date"].dt.month
df["year"] = df["invoice_date"].dt.year
df["quarter"] = df["invoice_date"].dt.quarter

In [32]:
df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
Index: 9356 entries, 0 to 9359
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   invoice_date      9356 non-null   datetime64[ns]
 1   product           9356 non-null   object
 2   region            9356 non-null   object
 3   retailer          9356 non-null   object
 4   sales_method      9356 non-null   object
 5   state             9356 non-null   object
 6   price_per_unit    9356 non-null   float64
 7   total_sales       9356 non-null   float64
 8   units_sold        9356 non-null   int64
 9   calculated_sales  9356 non-null   float64
 10  sales_difference  9356 non-null   float64
 11  month             9356 non-null   int32
 12  year              9356 non-null   int32
 13  quarter           9356 non-null   int32
dtypes: datetime64[ns](1), float64(4), int32(3), int64(1), object(5)
memory usage: 986.8+ KB

,invoice_date,price_per_unit,total_sales,units_sold,calculated_sales,sales_difference,month,year,quarter
count,9356,9356.000000,9356.000000,9356.000000,9356.000000,9356.000000,9356.000000,9356.000000,9356.000000
mean,2021-05-09 07:43:44.198375424,44.744976,922.325246,25.864044,1241.892475,-319.567230,6.465797,2020.860838,2.494656
min,2020-01-01 00:00:00,7.000000,2.000000,1.000000,20.000000,-2090.000000,1.000000,2020.000000,1.000000
25%,2021-02-15 00:00:00,35.000000,42.000000,11.000000,406.000000,-528.000000,3.000000,2021.000000,1.000000
50%,2021-06-03 00:00:00,45.000000,95.000000,18.000000,780.000000,-203.000000,7.000000,2021.000000,3.000000
75%,2021-09-16 00:00:00,55.000000,1463.000000,35.000000,1575.000000,-17.000000,9.000000,2021.000000,3.000000
max,2021-12-31 00:00:00,110.000000,8250.000000,128.000000,8250.000000,0.000000,12.000000,2021.000000,4.000000
std,NaN,14.506621,1414.016466,21.589918,1271.968084,364.836898,3.456627,0.346134,1.116646

In [33]:
pip install psycopg2-binary sqlalchemy

Defaulting to user installation because normal site-packages is not writeable
Collecting psycopg2-binary
  Downloading psycopg2_binary-2.9.11-cp313-cp313-win_amd64.whl.metadata (5.1 kB)
Requirement already satisfied: sqlalchemy in c:\users\nirik\appdata\roaming\python\python313\site-packages (2.0.39)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\nirik\appdata\roaming\python\python313\site-packages (from sqlalchemy) (3.1.1)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\nirik\appdata\roaming\python\python313\site-packages (from sqlalchemy) (4.12.2)
Downloading psycopg2_binary-2.9.11-cp313-cp313-win_amd64.whl (2.7 MB)
   ---------------------------------------- 0.0/2.7 MB ? eta -:--:--
   ---------------------------------------- 0.0/2.7 MB ? eta -:--:--
   ------- -------------------------------- 0.5/2.7 MB 2.0 MB/s eta 0:00:02
   --------------- ------------------------ 1.0/2.7 MB 2.6 MB/s eta 0:00:01
   ----------------------- ---------------- 1.6/2.7 MB 2.5 MB/s eta 0:00:01
   ------------------------------ --------- 2.1/2.7 MB 2.3 MB/s eta 0:00:01
   ---------------------------------- ----- 2.4/2.7 MB 2.1 MB/s eta 0:00:01
   ---------------------------------------- 2.7/2.7 MB 2.1 MB/s  0:00:01
Installing collected packages: psycopg2-binary
Successfully installed psycopg2-binary-2.9.11
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 25.2 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip

In [34]:
from sqlalchemy import create_engine

engine = create_engine(
    "postgresql+psycopg2://postgres:Unicorn77!@localhost:5432/shoe_sales_db"
)

df.to_sql(
    "nike_sales",
    engine,
    if_exists="replace",
    index=False
)

356